@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", serif;
    font-style: normal;
}

.btn-primary-custom {
    @apply border border-tertiery1 text-tertiery1 hover:bg-secondary3 hover:text-bg3 hover:border-secondary3
}

.btn-secondary-custom {
    @apply bg-secondary3 text-bg3 hover:bg-bg1 hover:text-secondary3 hover:border-bg1
}

.btn-tertiery-custom {
    @apply bg-base-100 text-gray-800 hover:text-secondary3
}
